{% extends "main/base.html" %}
{% load static %}

{% block title %}
Редактировать профиль
{% endblock title %}

{% block header %}
{% include 'main/fullheader.html' %}
{% endblock header %}

{% block content %}
<section class="section-pt-50px min-hei-70vh">
	<div class="container profile-container">
		{% include 'users/left_sidebar.html' %}
		<div class="flex-column-center profile-center">
			<div class="profile-box hidden" id="profile-box">

				<div class="profile-box-top">
					<div class="flex-column-center">
						<img alt="user image" id="profile-photo" class="profile-image">
						<form class="mar-top-5px">
							{% csrf_token %}
							<input type="file" accept="image/*" name="avatar" id="avatar-input" hidden>
							<label for="avatar-input" class="file-label">Изменить</label>
						</form>
					</div>
					<div class="profile-flex">
						<div>
							<form class="profile-flex">
								<div>Имя</div>
								<input type="text" id="profile-name">
								<div class="mar-top-5px">Дата рождения</div>
								<input type="date" id="profile-age">
							</form>
						</div>
					</div>
				</div>
				<div class="flex-column-center">
					<button class="container-hero-btn" onclick="saveUserInfo()">Сохранить</button>
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'users/scripts/userinfoedit.js' %}" uid="{{ user.id }}"></script>
</section>
{% endblock content %}