{% extends "main/base.html" %}
{% load static %}

{% block title %}
Войти в аккаунт
{% endblock title %}

{% block content %}
<section class="section-pt-50px">
	<div class="container flex-column-center border-radius-15">
		{{ message }}
		<h2>
			Войти в аккаунт
		</h2>
		<form method="post" class="flex-column-center">
			{% csrf_token %}
			{{ form }}
			<button type="submit" class="form-label">Войти</button>
			<div class="padding-20px">
				Еще нет аккаунта?
				<a href="{% url 'register' %}" class="text-center">Зарегистрироваться</a>
			</div>
		</form>
	</div>
</section>
{% endblock content %}