{% load static %}
<div class="profile-box-top">
  <img src="{% static 'main/img/nophoto.png' %}" alt="user image" id="profile-photo" class="profile-image">
	<div class="profile-flex">
		<div>
			<div class="profile-fname" id="profile-name">
				_
			</div>
			<div id="profile-age">
			</div>
		</div>
		<div>
			<div id="profile-ride-count">
			</div>
			<div id="profile-date-joined">
			</div>
		</div>
	</div>
</div>
<hr>
<div class="profile-box-feedback a-opac hidden" id="profile-box-feedback">
	<div class="text-center feedback-title">
		Отзывы
	</div>
	<div class="feedback-score" id="feedback-score">
	</div>
	<div class="feedback-count" id="feedback-count">
		_
	</div>
	<div>
		<ul>
			<li class="feedback-scoreitem">
				Отлично
				<div class="feedback-scoreitem-score" id="feedback-rating-5">
					_
				</div>
			</li>
			<li class="feedback-scoreitem">
				Хорошо
				<div class="feedback-scoreitem-score" id="feedback-rating-4">
					_
				</div>
			</li>
			<li class="feedback-scoreitem">
				Нормально
				<div class="feedback-scoreitem-score" id="feedback-rating-3">
					_
				</div>
			</li>
			<li class="feedback-scoreitem">
				Ожидания не оправдались
				<div class="feedback-scoreitem-score" id="feedback-rating-2">
					_
				</div>
			</li>
			<li class="feedback-scoreitem">
				Не понравилось
				<div class="feedback-scoreitem-score" id="feedback-rating-1">
					_
				</div>
			</li>
		</ul>
	</div>
	<div id="feedback-holder">
	</div>
</div>
<script src="{% static 'users/scripts/userinfo.js' %}" uid="{{ user.id }}" npURL="{% static 'main/img/nophoto.png' %}"></script>