{% extends "main/base.html" %}
{% load static %}

{% block title %}
	{{ user.first_name }} | Профиль
{% endblock title %}

{% block header %}
	{% include 'main/fullheader.html' %}
{% endblock header %}

{% block content %}
<section class="section-pt-50px">
	<div class="container profile-container">
		{% if is_owner %}
		<div class="left-sidebar">
			<nav>
				<ul>
					<li><a href="{% url 'edit_profile' request.user.id %}">Редактировать профиль</a></li>
					<li>Настройки</li>
					<li><a href="{% url 'logout' %}">Выйти</a></li>
				</ul>
			</nav>
		</div>
		{% endif %}
		<div class="flex-column-center profile-center">
			<div class="profile-box hidden" id="profile-box">
				{% include 'users/profile_info.html' %}
			</div>
		</div>
	</div>
</section>
{% endblock content %}