{% extends "main/base.html" %}
{% load static %}

{% block title %}
Регистрация
{% endblock title %}

{% block content %}
<section class="section-pt-50px">
	<div class="container flex-column-center border-radius-15">
		<h2>
			Регистрация
		</h2>
		<form method="post" class="flex-column-center">
			{% csrf_token %}
			{{ form }}
			<button type="submit" class="form-label">Зарегистрироваться</button>
		</form>
		<div class="padding-20px">
			Уже есть аккаунт?
			<a href="{% url 'login' %}">Войти</a>
		</div>
	</div>
</section>
{% endblock content %}