/* montserrat-300 - cyrillic_latin */
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v26-cyrillic_latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-regular - cyrillic_latin */
  @font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-700 - cyrillic_latin */
  @font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat';
    color: #939393;
    background-color: #141414;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

input {
    height: 40px;
}

.container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.header{
    height: 60px;
    background-color: #222222;
}

.header-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    margin-right: auto;
    font-style: italic;
    font-size: 34px;
    font-weight: 400;
}

.header-nav-list {
    display: flex;
    align-items: center;
}


.header-nav-item:not(:last-child) {
    margin-right: 50px;
}

.neader-nav-link {
    display: flex;
    align-items: center;

}

.neader-nav-link:hover {
    transition-property: color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    color: #939393;
}

.header-icons {
    display: inline-block;
    margin-right: 2px;
    width: 24px;
    height: 24px;
    background-size: contain;
}

.header-find-icon {
    background: url(../img/search_FILL0_wght400_GRAD0_opsz24.svg) center center no-repeat transparent;
}

.header-add-icon {
    background: url(../img/add_circle_FILL0_wght400_GRAD0_opsz24.svg) center center no-repeat transparent;
}

.header-nav-name {
    margin-left: 15px;
}

.header-user-box {
    margin-left: 15px;
    position: relative;
    display: inline-block;
}

.header-user-box-btn {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    top: 50px;
    right: 0;
    background-color: #222222;
    z-index: 11;
}

.dropdown-show {
    display: block;
}

.dropdown-content a {
    margin: 17px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-content svg {
    margin-left: 20px;
}

.header-user-icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-size: contain;
    background: url(../img/account_circle_FILL0_wght400_GRAD0_opsz24.svg) center center no-repeat transparent;
}

.user-icon {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    box-shadow: 0 0 0 1px white;
}

.text-center {
    text-align: center;
}

.form-persons {
    width: 50px;
}

.container-hero-btn {
    height: 40px;
    padding: 5px 6px;
    cursor: pointer;
    border-radius: 5px;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
	display: flex;
}

.form-from {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form-persons {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.section-hero-heading {
    padding-top: 40px;
    padding-bottom: 70px;
    color: #939393;
}

.section-do {
    padding-top: 50px;
    padding-bottom: 100px;
}

.section-do-list {
    display: flex;
}

.section-do-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
}

.section-do-item:not(:last-child) {
    margin-right: 30px;
}

.section-do-item-heading {
    color: #656565;
}

.section-tg {
    color: white;
    background-color: #222222;
}

.section-tg-adv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-tg-text {
    margin-right: 40px;
}

.btn-tg {
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #141414;
    background-color: aquamarine;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(101, 206, 171);
}

.section-pt-50px {
    padding-top: 50px;
}

.text-footer {
    font-size: 14px;
    align-items: center;
}

.footer {
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.footer-copyright {
    margin-left: 100px;
    margin-right: 20px;
    line-height: 32px;
}

.padding-20px {
    padding-top: 25px;
}

.error-message {
    color: red;
}

.form-label {
    display: block;
    margin-top: 20px;
}

.border-radius-15 {
    background-color: #222222;
    width: 500px;
    padding-bottom: 20px;
    border-radius: 15px;
}

.autocomplete-list {
	position: absolute;
	margin-top: 2px;
	min-width: 250px;
	max-height: 150px;
	overflow-y: scroll;
	background-color: white;
	border-radius: 10px;
}

.autocomplete-list li {
	margin: 8px 6px;
	padding: 3px 5px;
	cursor: pointer;
	border-radius: 5px;
}

.autocomplete-list li:hover {
	background-color: #eaeaea;
}

.autocomplete-list::-webkit-scrollbar {
	border-radius: 15px;
}

.autocomplete-list::-webkit-scrollbar-thumb {
	background-color: #939393;
	border-radius: 15px;
	border: 5px solid white;
}

.section-rides {
    margin-top: 50px;
    margin-bottom: 40px;
}

.ride-box {
    width: 600px;
    height: 200px;
    margin-top: 20px;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222222;
    border-radius: 15px;
}

.ride-time {
    font-weight: bold;
    font-size: 30px;
}

.ride-info {
    height: 100%;
    width: 380px;
    padding: 25px 20px 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-left: 2px dashed #939393;
    border-right: 2px dashed #939393;
}

.ride-route {
    font-size: 20px;
}

.ride-price {
    font-weight: bold;
    font-size: 30px;
}

.ride-user {
    display: flex;
    align-items: center;
}

.ride-user-icon {
    margin-right: 5px;
}

.ride-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ride-seats {
    display: flex;
    align-items: center;
}

.ride-user-rating {
    display: flex;
    align-items: center;
}

.ride-user-rating-text {
    margin-top: 4px;
    margin-left: 2px;
    font-size: 14px;
}

#ride-user-avatar {
    width: 45px;
    height: 45px;
}

.profile-box {
    padding: 20px;
    background-color: #222222;
    border-radius: 15px;
    width: 550px;
}

.profile-image {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.profile-box-top {
    display: flex;
}

.profile-container {
    display: flex;
}

.left-sidebar {
    width: 160px;
}

