{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon.ico' %}"/>
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'main/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  <script src="{% static 'main/scripts/dropdown.js' %}"></script>
</head>
<body>
  <header class="header">
  <div class="container header-container">
    <a href="{% url 'main' %}" class="logo">
      Попутка
    </a>
    {% block header %}{% endblock header %}
    <div class="header-user-box">
      <button class="header-user-box-btn" type="button" onclick="dropDown()">
      {% if request.user.is_authenticated %}
        {% if request.user.avatar %}
          <img src="{{ request.user.avatar.url }}" class="user-icon" alt="user icon">
        {% else %}
          <span class="neader-nav-link header-user-icon"></span>
        {% endif %}
        <div id="dropdown" class="dropdown-content">
          <a href="{% url 'profile' request.user.id %}">
            Профиль
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path fill="white" d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
          </a>
          <a href="{% url 'logout' %}">
            Выйти
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path fill="white" d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
          </a>
        </div> 
      {% else %}
        <div id="dropdown" class="dropdown-content">
          <a href="{% url 'login' %}">
            Вход
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path fill="white" d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
          </a>
          <a href="{% url 'register' %}">
            Регистрация
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path fill="white" d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
          </a>
        </div>
        <div class="header-user-icon"></div>
      {% endif %}
        <svg class="" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path fill="white" d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"/></svg>
      </button>
    </div>
  </div>
  </header>
  <main>
  {% block content %}
  {% endblock content %}
    <section class="section-pt-50px">
      <div class="container text-footer">
        <div class="footer">
          <div class="footer-copyright">
            © djezhei, 2023
          </div>
          <div class="footer-contacts">
            <div class="footer-ar">
              <div>
                github:
              </div>
              <div>
                tg:
              </div>
            </div>
            <div>
              <a href="https://github.com/djezhei">djezhei</a>
              <br>
              <a href="https://t.me/itsvanos">itsvanos</a>
            </div>      
          </div>
        </div>
      </div>
    </section>
  </main> 
</body>
</html>