{% extends "main/base.html" %}
{% load static %}

{% block title %}
Найти попутку | Попутка
{% endblock title %}

{% block header %}
<a href="{% url 'offer' %}" class="neader-nav-link">
	<span class="header-icons header-add-icon"></span>
	Опубликовать поездку
</a>
{% endblock header %}

{% block content %}
<section>
	<div class="container flex-column-center">
		<h1 class="section-hero-heading text-center">
			Куда вы хотите поехать?
		</h1>
		<form action="{% url 'search' %}" method="get" class="form">
			{% include 'main/searchform.html' %}
		</form>
	</div>
</section>
<section>
	{% if rides %}
		{% for ride in rides %}
		<a href="{% url 'ride' ride.id %}">{{ ride.from_place }} - {{ ride.to_place }} {{ ride.ride_datetime }}</a>
		{% endfor %}
	{% else %}
		Поездок нет получается что ли :\
	{% endif %}
</section>
{% endblock content %}