<form action="{% url 'search' %}" method="get" class="form">
	{% csrf_token %}
	<input required type="text" name="from_place" placeholder="Откуда" class="form-from" value="{{ form.from_place.value }}">
	<input required type="text" name="to_place" placeholder="Куда" value="{{ form.to_place.value }}">
	<input required type="date" name="ride_date" value="{{ form.ride_date.value }}">
	<input required type="number" name="person_count" value="{{ form.person_count.value }}" title="Сколько человек поедет?" class="form-persons">
	<button type="submit" class="container-hero-btn">Найти</button>
</form>